*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}


body {
    background-color: #05c46b;
    font-family: Verdana;
    text-align: center;

}

form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 1);
}

.form-control{
    text-align: left;
    padding: 5px;
}

.form-control label{
    display: block;
    margin-bottom: 5px;
}

.form-control input,
.form-control select, 
.form-control textarea{
    padding: 4px;
    width: 100%;
    font-size: 10px;
    display: block;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

button{
    margin-top: 20px;
    width: 100%;
    background-color: #05c46b;
    font-weight: 700;
    padding: 5px;
}